html {
    font-family: monospace, sans-serif;
}
canvas {
    border: 2px solid gray;
}
a {
    text-decoration: none;
    border: 2px solid black;
    padding: 4px;
    border-radius: 8px;
    background-color: #ccc;
    color: black;
}
a:hover {
    background-color: #fff;
}